/* CSS for Default Setting ----------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto"; */
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Universal className ------------------------------------------------------------- */
.myContainer {
  max-width: 1280px;
  /* max-width: 1080px; */
  margin: 0 auto;
  padding: 5px 10px;
}

.span1 {
  color: green;
  text-decoration: none;
  font-weight: 700;
}

.span2 {
  color: green;
  text-decoration: none;
  font-weight: 500;
}

.span3 {
  color: rgb(0, 0, 0);
  /* text-decoration: none; */
  /* font-weight: 700; */
}

.carousel-container {
  width: 100%;
}
